/*pagina de estilos*/

*{
    border:1px dotted tomato;
}

body {
margin: 0 auto;
max-width: 1000px;
font-family: "Helvetica","Arial",sans-serif;
line-height: 1.5;
padding: 10px 20px;
border: 1px solid black;
color: #555;
}
header{
	background-color: #C5F5E5;
}
.imagen{
    border-radius:50% ;
}
.color{
    color: #294172;
}
aside{
    background-color: #E9FAF9;
}
.desplazado{
    display: inline-block;
    margin: 50px;
    padding: 1px;
    text-align: center;
    width: 300px;
}