/*pagina de estilos*/

*{
    border:1px dotted tomato;
}

body {
margin: 0 auto;
max-width: 1000px;
font-family: "Helvetica","Arial",sans-serif;
line-height: 1.5;
padding: 10px 20px;
border: 1px solid black;
color: #555;
}
header{
	background-color: #C5F5E5;
}
aside{
    background-color: #DEF9F0;
}
.imagen{
    border-radius:50% ;

}